@import url('form.css');


main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding-s);

    #payment-section, #shopping-cart{
        flex: 1;
    }

    section#shopping-cart{
        background-color: var(--color-bg-accent);
        padding: var(--padding-m);
    }
    
    form {
        fieldset {
            padding: var(--padding-s);
            border: none;
            border-bottom: var(--border-light);
            margin-bottom: var(--margin-m);
        
            div {
                margin-bottom: var(--margin-s);
            }
        
            legend {
                font-size: var(--p-m-size);
            }
        
            select {
                padding: var(--padding-s);
                background-color: var( --color-bg-main);
                border: var(--border);
                outline: none;
                font-size: var(--p-size);
            }

            select:focus {
                border: var(--input-active);
                background-color: var(--color-white);
            }
        }
    }
    
    @media (min-width: 770px){
        display: flex;
        flex-direction: row;
        flex: 1;

        section#shopping-cart {
            position: sticky;    /* stick while scrolling */
            top: var(--margin-m); /* distance from top of viewport */
            align-self: flex-start; /* prevent stretching */
        }
   }
}



