@import url('styles.css');

:root{
    /* pre-defined width and height  for*/
    --mobile-width: clamp(4rem, 100%, 25rem);
    --desktop-width: clamp(12.5rem, 90%, 31.25rem);


    /* input fields padding*/
    --input-padding-mobile: 0.5rem 0.7rem;
    --input-padding-desktop: 0.6rem 0.4rem;

    /* input colors */
    --input-active: 2.5px solid var(--color-active);
}

form {
    padding: var(--padding-s);
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    legend {
        font-weight: var(--font-weight-thick);
        font-size: var(--h3-size);
        margin-bottom: var(--margin-xs);
    }

    div {
        display: flex;
        flex-direction: column;
        width: var(--mobile-width);
    }

    input {
        padding: var(--input-padding-mobile);
        background-color: var( --color-bg-main);
        border: var(--border);
        outline: none;
        font-size: var(--p-size);
    }
    
    input:focus{
            border: var(--input-active);
            background-color: var(--color-white);
        }
} 
