@import url('variables.css');

:root {
    --releases-height: 420px;

    /* Margins */
    --hero-section-margin-bottom: 100px;
    --member-section-margin-bottom: 100px;
    --large-margin-bottom: 140px;

    /*respinsive heights hero*/
    --hero-height: 420px; /*default*/
    --hero-height-mobile: 480px;
    --hero-height-tablet: 560px;
    --hero-height-laptop: 640px;
    --hero-height-desktop: 720px;

    /* Hero content max-width for paragraph */
    --hero-content-p-max-width: 350px;

    /*responsive heights member*/
    --member-image-max-width: 600px;
    --member-content-max-width: 500px;
}


main {
    max-width: var(--max-width);
    margin: auto;
}

.hero-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--hero-section-margin-bottom);
    overflow: hidden;
    height: var(--releases-height);

    .hero-image-container {
        display: none;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: var(--img-optacity-s); 
        }
    }

    .hero-content {
        position: relative;
        z-index: 1;
        padding: var(--padding-s);

        h1 {
            font-size: var(--h1-size);
            font-weight: var(--font-weight-bold);
            margin-bottom: var(--margin-s);
        }

        p {
            font-size: var(--p-m-size);
            max-width: var(--hero-content-p-max-width);
        }

        .button-container{
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap-m);
            margin-top: var(--margin-m);
        }
    }

    /* 📱 Large mobile */
    @media (min-width: 480px) {
        height: var(--hero-height-mobile);

        .hero-image-container {  display: block; }

        .hero-image-container > img {
            opacity: var(--img-optacity-m); 
        }

        .hero-content{
            padding: var(--padding-m);
        }
    }

    /* 📱 Tablet */
    @media (min-width: 768px) {
        height: var(--hero-height-tablet);
        margin-bottom: var(--large-margin-bottom);

        .hero-content{
            padding: var(--padding-xl);
        }
    }

    /* 💻 Laptop */
    @media (min-width: 1024px) {
        height: var(--hero-height-laptop);

        .hero-content{
            padding: var(--padding-xl);
        }
    }

    /* 🖥 Large desktop */
    @media (min-width: 1440px) {
        height: var(--hero-height-desktop);
    }
}


.member-section {
    display: flex;
    flex-direction: column;
    margin: var(--margin-s);
    margin-bottom: var(--member-section-margin-bottom);
    background-color: var(--color-bg-accent);
    padding: var(--padding-m);

    .member-image-container {
        display: none;
        max-width: var(--member-image-max-width);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: var(--img-optacity-xl);
        }
    }

    .member-content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);
        max-width: var(--member-content-max-width);

        h2 {
            font-size: var(--h2-size);
            font-weight: var(--font-weight-bold);
            color: var(--color-text-main);
        }

        p {
            font-size: var(--p-size);
            color: var(--color-text-medium);
        }

        .member-buttons {
            display: flex;
            gap: var(--gap-m);
            flex-wrap: wrap;
            margin-top: var(--margin-s);
        }
    }

    @media (min-width: 600px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--gap-l);
        background-color: var(--color-bg-main);

        .member-image-container { display: block;}

        .member-content {
            flex: 1;
            padding: var(--padding-m);
        }
    }

    @media (min-width: 780px) {
        margin-bottom: var(--large-margin-bottom);
    }
}

.releases-section {
    position: relative;
    height: var(--hero-height);
    margin-bottom: var(--margin-xl);
    text-align: center;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    .release-image-container {
        display: none;
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: var(--img-optacity-l);
        }
    }

    .releases-content {
        position: relative;
        z-index: 2;
        max-width: var(--member-image-max-width);
        padding: var(--padding-xl);
        color: var(--color-text-main);

        h2 {
            font-size: var(--h2-size);
            font-weight: var(--font-weight-bold);
            margin-bottom: var(--margin-m);
        }

        p {
            font-size: var(--p-m-size);
            margin-bottom: var(--margin-l);
        }
    }

     /* 📱 Large mobile */
     @media (min-width: 480px) {
        .release-image-container {  display: block; }
    }
}
