@import url('form.css');

:root {
  --gap-m: 1rem;
  --form-min-width: clamp(1rem, 97%, 28rem);

  --img-height-mobile: 18.75rem; /* 300px */
  --img-height-desktop: 37.5rem; /* 600px */
}

/* Since form is already styled, we only style the forms width and the image, so it fits the desired layout. */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);

    
    .login-img-container{
        display: none;
        height: var(--img-height-mobile);
        width: 100%;

        img {
            width: 100%;            
            height: 100%;           
            object-fit: cover;
            object-position: center;
            display: block;
            opacity: var(--img-opacity-xs);
        }
    }

    form {
        width: var(--form-min-width);
/* 
        h2 {
            font-size: var(--h3-size);
        } */
    }

    @media (min-width: 600px){
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--gap-l);

        .login-img-container{
            display: block;
            width: var(--img-height-desktop);
            height: var(--img-height-desktop);
        }

    }

}


