@import url('variables.css');

.breadcrumb {
    padding: var(--padding-m) var(--padding-s);
    font-family: var(--font-main);
    font-size: var(--p-size);
    color: var(--color-text-main);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: auto;

    a {
        color: var(--color-text-main);
        text-decoration: none;

        &:hover {
            color: var(--color-active);
        }
    }

    span {
        color: var(--color-text-medium);
    }
}

.back-link {
    display: inline-block;
    padding: var(--padding-s) var(--padding-m);
    margin: var(--margin-s) var(--padding-s);
    font-family: var(--font-main);
    font-size: var(--p-size);
    color: var(--color-text-main);
    text-decoration: none;

    &:hover {
        color: var(--color-active);
    }
}

.product-detail {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    padding: var(--padding-m) var(--padding-s);
    max-width: var(--max-width-s);
    margin: 0 auto;
    

    picture {
        aspect-ratio: 1;
        background-color: var(--color-bg-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .product-image {
            width: 50%;
            height: auto;
            /* object-fit: cover; */
        }
    }

    .product-info {
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);
        padding: var(--padding-m) 0;

        button {
            max-width: var(--button-max-width);
        }

        .product-category {
            font-size: var(--p-s-size);
            color: var(--color-text-medium);
            text-transform: capitalize;
            margin: 0;
        }

        .product-title {
            font-size: var(--h2-size);
            font-weight: var(--font-weight-bold);
            color: var(--color-text-main);
            margin: 0;
            line-height: var(--line-height-m);
        }

        .product-price {
            font-size: var(--p-m-size);
            font-weight: var(--font-weight-medium);
            color: var(--color-text-main);
            margin: 0;
        }

        .description-heading {
            font-size: var(--h3-size);
            font-weight: var(--font-weight-thick);
            color: var(--color-text-medium);
        }

        .productDescription {
            font-size: var(--p-size);
            color: var(--color-text-main);
            line-height: var(--line-height-l);
            margin: 0;
        }

        .product-description-desktop {
            display: none;
        }
        
        .product-description-mobile {
            display: block;
        }

    }

    @media (min-width: 600px) {
        flex-direction: row;
        align-items: flex-start;
        gap: var(--gap-xl);

        picture {
            flex: 0 0 45%;
            max-width: 45%;
        }

        .product-info {
            flex: 1;
            padding: var(--padding-m);
        }
    }

    @media (min-width: 900px) {
        .product-info {
            .product-description-desktop {
                display: block;
            }
            
            .product-description-mobile, details, summary {
                display: none;
            }
        }
    }
}
