@import url('variables.css');

:root{
    --product-grid-minmax-width: 250px;
}

main {

    h1 {
        padding: var(--padding-m) var(--padding-s);
        font-size: var(--h1-size);
        font-weight: var(--font-weight-bold);
        color: var(--color-text-main);
    }

    .breadcrumb {
        padding: var(--padding-m) var(--padding-s);
        font-family: var(--font-main);
        font-size: var(--p-size);
        color: var(--color-text-main);
    
        a {
            color: var(--color-text-main);
            text-decoration: none;
    
            &:hover {
                color: var(--color-active);
            }
        }
    
        span {
            color: var(--color-text-medium);
        }
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--product-grid-minmax-width), 1fr));
        gap: var(--gap-l);
        padding: var(--padding-m) var(--padding-s);
        max-width: var(--max-width);
        margin: 0 auto;
    }

    @media (min-width: 600px) {
        .products-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 900px) {
        .products-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1200px) {
        .products-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .product-card {
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg-accent);
        overflow: hidden;

        &:hover {
            transform: translateY(-2px);
        }
    }


    .product-image-container {
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--color-bg-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .product-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .product-image {
            width: 50%;
            height: auto;
        }
    }

    .product-details {
        padding: var(--padding-m);
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        flex: 1;
        border-top: var(--border-light);

        .product-category {
            font-size: var(--p-s-size);
            text-transform: capitalize;
            margin: 0;
        }

        .product-title {
            font-size: var(--p-size);
            font-weight: var(--font-weight-bold);
            margin: 0;
            line-height: var(--line-height-m);
        }

        .product-price {
            font-size: var(--p-m-size);
            font-weight: var(--font-weight-medium);
            margin: 0;
        }
    }

    .product-actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-xs);
        padding: var(--padding-s) var(--padding-m);
        background-color: var(--color-bg-accent);

       button {
        width: 100%;
        background-color: var(--color-accent-dark);

        &:hover {
            background-color: var(--color-accent-night);
        }
        
       }
    }
}

