@import url('variables.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg-main);
}

/* === headers, text and links === */
h1, h2, h3, h4{
    font-family: var(--font-title);
    color: var(--color-text-main);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

p{
    font-family: var(--font-main);
    color: var(--color-text-medium);
    font-size: var(--p-size);
}

a {
    font-family: var(--font-main);
    font-size: var(--p-size);
}

body{
    font-family: var(--font-main);
}
/* === responsive classes === */
.hidden { display: none; }
.visible { display: block; }

.auth-hidden { display: none; }
.auth-visible { display: block; }

/* === modal === */
#modal{
    padding: var(--padding-xl);
    text-align: center;
    border: none;
    border-radius: var(--border-radius-s);
    margin: var(--margin-m);
    margin: auto;
}

/* === nav === */
nav#main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin-s);

    a {
        text-decoration: none;
        color: var(--color-text-main)
    }

    ul {
        list-style: none;
        display: flex;
        gap: var(--gap-s);

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--gap-s);
        }

        #open-nav{
            margin-top: var(--margin-xs);
        }
    }

    /* hide login and logout on mobile screen */
    #login, #logout {
        display: none;
    }

    @media (min-width: 500px){
        
        /*show the li elements on larger screens*/
        .nav-links, #login{
            display: block;
        }

        /*hide the burger icon*/
        #open-nav{
            display: none;
        }

    }
}


/* === footer === */
footer {
    border-top: var(--border-light);
    margin: var(--margin-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    text-align: center;

    ul {

        list-style: none;

        a{
            font-family: var(--font-main);
            color: var(--color-text-medium);
            font-size: var(--p-size);
        
            &:hover {
                color: var(--color-link-hover);
                font-weight: var(--font-weight-bold);
            }
        }

        .footer-logo{
            text-decoration: none;
            font-weight: var(--font-weight-bold);
        }
    }

    .footer-icons {
        display: flex;
        gap: var(--gap-m);
        margin-top: var(--gap-m);

       .fa-brands{
        font-size: var(--icon-m);
        margin: var(--margin-xs);
        color: var(--color-text-main);
       }
    }

    @media (min-width: 700px){
        .footer-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
    
            ul {
                display: flex;
                gap: var(--gap-s);
                margin-top: var(--gap-m);
            }
        }
    }
}
