@import url('variables.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg-main);
}


/* === headers, text and links === */
h1, h2, h3, h4{
    font-family: var(--font-title);
    color: var(--color-text-main);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

p{
    font-family: var(--font-main);
    font-size: var(--p-size);
}

a {
    font-family: var(--font-main);
    font-size: var(--p-size);
    color: var(--color-text-main);
    text-decoration: none;
}

body{
    font-family: var(--font-main);
}

/* === buttons === */
.button-empty, .button-full {
    min-width: var(--button-min-width);
    text-align: center;
}

.button-full {
    background-color: var(--color-accent-night);
    border: none;
    font-family: var(--font-main);
    font-size: var(--p-size);
    padding: var(--padding-s) var(--padding-xl);
    color: var(--color-text-light);

    &:hover{
        background-color: var(--color-accent-dark);
    }
}
.button-empty {
    background-color: var(--color-bg-main);
    border: var(--border-dark);
    font-family: var(--font-main);
    font-size: var(--p-size);
    padding: var(--padding-s) var(--padding-xl);
    color: var(--color-text-main);

    &:hover{
        font-weight: var(--font-weight-thick);
        background-color: var(--color-bg-accent);
    }
}

/* === responsive images === */
img{
    width: 100%;
    height: auto;
}

/* === responsive classes === */
.hidden { display: none; }

/* === modal === */
#modal{
    padding: var(--padding-xl);
    text-align: center;
    border: none;
    border-radius: var(--border-radius-s);
    margin: var(--margin-m);
    margin: auto;

    .close {
        padding: var(--padding-xs);
        margin-bottom: var(--margin-m);
    }
}

/* === main nav === */
nav#main-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-m);
    padding: var(--padding-s);
    border-bottom: var(--border-light);
    margin-bottom: var(--margin-m);

    /* hiding the logo name and shopping cart text*/
    .brand-name, .shoppingcart { 
          display: none;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--gap-l);
        
        .logo, .brand-name {
            font-size: var( --p-m-size);
        }

        li img {
            width: 25px;
            height: 25px;
            margin-bottom: var(--margin-xs);
        }

        .brand-name  { font-weight: var(--font-weight-medium) }
        .logo { font-weight: var(--font-weight-bold) }

        a {
            display: flex;
            gap: var(--gap-s);
            align-items: center;
            flex-wrap: wrap;
            padding: var(--padding-s) var(--padding-m);
            /* background-color: red; */
        }
    }

    @media (min-width: 600px){
         ul {
            gap: var(--gap-l);
        }
 
        /* showing the logo name and shopping cart text*/
        .brand-name, .shoppingcart { 
          display: block;
        }
    }
}

/* === utility menu === */
nav#utility-menu{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: var(--padding-m);
    
    background-color: var( --color-bg-accent);
    color: var(--color-text-main);

    a {
        color: var( --color-text-medium);
        padding: var(--padding-s) var(--padding-xl);
        background-color: var(--color-bg-main);
        border-radius: var(--border-radius-xl);
        /* background-color: red; */
    
    }

    ul {
        display: flex;
        gap: var(--gap-l);
        list-style: none;
        flex-wrap: wrap;
        
    }

    #btnLogout{
        border: none;
        background-color: var(--color-bg-accent);
        font-family: var(--font-main);
        font-size: var(--p-size);
        color: var(--color-text-medium);
    }
}

/* === footer === */
footer {
    border-top: var(--border-light);
    margin: var(--margin-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xl);

        a{
            font-family: var(--font-main);
            font-size: var(--p-size);
            padding: var(--padding-s) var(--padding-m);
            /* background-color: red; */
        
            &:hover {
                color: var(--color-link-hover);
                font-weight: var(--font-weight-bold);
            }
        }

        .footer-logo{
            text-decoration: none;
            font-weight: var(--font-weight-thick);
        }
    }

    p {
        margin-top: var(--margin-m);
    }

    @media (min-width: 500px){
        ul {
            display: flex;
            flex-direction: row;
        }
    }
}
