@import url('variables.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: var(--font-title);
    color: var(--color-text-main);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

p{
    font-family: var(--font-main);
    color: var(--color-text-medium);
    font-size: var(--p-size);
}

a {
    font-family: var(--font-main);
}

body{
    background-color: var(--color-bg-main);
}

nav  {
    padding: var(--padding-m);
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        gap: var(--gap-m);

        .hidden { display: none;}

        a {
            text-decoration: none;
            color: var(--color-text-main);
        }
    }

    @media (min-width: 700px){
        ul {
            .hidden { display: block;}
            .fa-bars { display: none;}
        }

         > .shopping-cart{
            a {
                display: flex;
                gap: var(--gap-m);
                align-items: center;
            }
        }   
    }

}

 #mobile-burger-menu {
    display: none;
    > ul{
        display: flex;
        flex-direction: column;
    }
 }
 

footer {
    border-top: var(--border-light);
    margin: var(--margin-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    text-align: center;

    ul {

        list-style: none;

        a{
            font-family: var(--font-main);
            color: var(--color-text-medium);
            font-size: var(--p-size);
        
            &:hover {
                color: var(--color-link-hover);
                font-weight: var(--font-weight-bold);
            }
        }

        .footer-logo{
            text-decoration: none;
            font-weight: var(--font-weight-bold);
        }
    }

    .footer-icons {
        display: flex;
        gap: var(--gap-m);
        margin-top: var(--gap-m);

       .fa-brands{
        font-size: var(--icon-m);
        margin: var(--margin-xs);
        color: var(--color-text-main);
       }
    }

    @media (min-width: 700px){
        .footer-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
    
            ul {
                display: flex;
                gap: var(--gap-s);
                margin-top: var(--gap-m);
            }
        }
    }
}
