@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* === colors  === */
    --color-bg-main: #FFFCF2;
    --color-bg-accent: #e9e3d7;

    --color-main: #6C7587;
    --color-accent: #58606D; 

    --color-text-main: #2E2E2E;
    --color-text-medium: #6C7587;
    --color-text-light: lightgray;

    --color-border: gray;
    --color-border-light: lightgray;

    --color-link-active: blue;
    --color-link-hover: blue;

    /* === fonts === */
    --font-main: 'Poppins', sans-serif;
    --font-title: 'inter', sans-serif;

    /* === font size === */
    --h1-size: clamp(2.2rem, 4vw, 4rem);
    --h2-size: clamp(1.8rem, 3vw, 3rem);
    --p-size: clamp(1rem, 1.2vw, 1.25rem);
    --p-s-size: clamp(0.875rem, 1vw, 1rem);

    /* === font weights === */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    
    /* === gap === */
    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 1.5rem;
    --gap-xl: 2rem;

    /* === padding === */
    --padding-xs: 0.25rem;
    --padding-s: 0.5rem;
    --padding-m: 1rem;
    --padding-l: 1.5rem;
    --padding-xl: 2rem;

    /* === margin === */
    --margin-xs: 0.25rem;
    --margin-s: 0.5rem;
    --margin-m: 1rem;
    --margin-l: 1.5rem;
    --margin-xl: 2rem;

    /* === border === */
    --border: 1px solid var(--color-border);
    --border-light: 1px solid var(--color-border-light);

    /* === icons === */
    --icon-xs: 10px;
    --icon-s: 20px;
    --icon-m: 30px;
    --icon-l: 40px;
    --icon-xl: 50px;
}


/* padding: clamp(1em, 1vw, 3vw) clamp(2em, 2vw, 4vw) */
