/* only loads used font weights and uses display swap*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&family=Poppins:wght@300;500;600;800&display=swap');

:root{
    /* === colors  === */
    --color-white: white;
  
    --color-bg-main: #f4f1ed;
    --color-bg-accent: #e7e4e0;

    --color-main: #6C7587;
    --color-accent: #58606D; 
    --color-accent-dark: #383E47;
    --color-accent-night: #1c222b;

    --color-text-main: #1c222b;
    --color-text-medium: #7d8087;
    --color-text-light: lightgray;

    --color-border: rgb(148, 148, 148);
    --color-border-light: lightgray;

    --color-active: rgb(57, 93, 209);

    /* === fonts === */
    --font-main: 'Poppins', sans-serif;
    --font-title: 'inter', sans-serif;

    /* === font size === */
    --h1-size: clamp(2.2rem, 4vw, 4rem);
    --h2-size: clamp(1.8rem, 3vw, 3rem);
    --h3-size: clamp(1.5rem, 2vw, 2.3rem);
    --p-m-size: clamp(1.2rem, 1.3vw, 1.4rem);
    --p-size: clamp(1rem, 1.2vw, 1.25rem);
    --p-s-size: clamp(0.875rem, 1vw, 1rem);

    /* === font weights === */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-thick: 600;
    --font-weight-bold: 800;
    
    /* === gap === */
    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 1.5rem;
    --gap-xl: 2rem;

    /* === padding === */
    --padding-xs: 0.25rem;
    --padding-s: 0.6rem;
    --padding-m: 1rem;
    --padding-l: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 2.5rem;

    /* === margin === */
    --margin-xs: 0.25rem;
    --margin-s: 0.5rem;
    --margin-m: 1rem;
    --margin-l: 1.5rem;
    --margin-xl: 2rem;

    /* === border === */
    --border: 1px solid var(--color-border);
    --border-light: 1px solid var(--color-border-light);

  /* === border-radius === */
    --border-radius-xs: 0.3rem;   /* 5px  */
    --border-radius-s: 0.6rem;    /* 10px */
    --border-radius-m: 0.9rem;    /* 15px */
    --border-radius-l: 1.3rem;    /* 20px */
    --border-radius-xl: 1.6rem;   /* 25px */

}


